body{
	background: url("../images/gZwxePW.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;

	text-align: center;
}


.jumbotron{
	background: url("../images/gZwxePW.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.text-muted{
	color: white;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}
p{
	color: black;
}
h2{
	color: black;
}
h3{
	color: white;
}